
input{
	margin-top:20px;
}
.map-container {
	width: 800px;
	max-width: 100%;
	height: 500px;
}
form{
	max-width:70vh;
}

.map-search{
	float:right;
	padding:20px;
}
.searchCenterInput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.searchCenterButton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.searchCenterButton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.searchCenterButton::-moz-focus-inner {
	border: 0;
}
.searchCenterClear{
	clear:both;
}

img{
	max-width:300px;
	max-height:300px;
}
li{
	list-style-type: none;
}

li a{
	color:white;
	
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: #3D3D3D;
	color:white;
	width:100%;
	margin:0;
}

@media (max-width: 800px) {
	#dash{
		max-height:50vh;
	}
}

#dash{

	padding-right:0;
	height:100vh;
	background-color:#4F4F4F;
	-webkit-box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
	-moz-box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
	box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
}
a.login-link-text{
	color:white;
}

#taskBtn {


	transition: .5s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	background-color: #03A9F4;
	margin-top: 30px;

	color: white;
	border: none;
	-webkit-box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
	-moz-box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
	box-shadow: 6px 5px 28px -9px rgba(0,0,0,1);
}
#taskBtn:active{
	box-shadow:none;
}
